<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TestMybatis.tsplugins.RoleMapper">
    <resultMap type="role" id="roleMap">
        <id column="id" property="id" javaType="long" jdbcType="BIGINT" />
        <result column="role_name" property="roleName"  jdbcType="VARCHAR" />
        <result column="note" property="note" jdbcType="OTHER" typeHandler="TestMybatis.JsonTypeHandler" />
        <result column="password" property="password" jdbcType="VARCHAR" typeHandler="TestMybatis.MyStringHandler" />
    </resultMap>
    <select id="getRole" parameterType="long" resultMap="roleMap">
        select id,role_name ,note,password from role where id=#{id}
    </select>
    <insert id="insertRole" parameterType="role">
        insert into
        role(role_name,note,password) value(#{roleName},
        #{note,jdbcType=OTHER,typeHandler=TestMybatis.JsonTypeHandler},
        #{password})
    </insert>
</mapper>
